@import "_variables.scss";
@import "_mixins.scss";

.container {
  @include flex-col-center;
  width: 90vw;
  margin: 2rem auto;
}
.table {
  border-collapse: collapse;
  font-size: 5rem;
  min-width: 40rem;
  box-shadow: 0 0 1rem color(light-gray);
}

.table thead tr {
  background-color: color(teal);
  color: color(white);
  text-align: left;
  @include roboto-mono;
}

.table th,
.table td {
  padding: 1.2rem 1.5rem;
  text-align: center;
}

.table tbody tr {
  border-bottom: 0.1rem solid #dddddd;
  background-color: color(white);
  @include oswald;
}

.table tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 0.2rem solid #009879;
}

.table tbody tr:hover {
  background-color: color(cyan);
}

.table img {
  width: 6rem;
}

.launch-item {
  @include flex-row-center;
  justify-content: space-evenly;
  height: 4rem;
  width: 100%;
  padding: 3rem 0rem;
}

.launch-item h3 {
  height: 100%;
  font-size: 1.5rem;
}
