@import '_variables.scss';
@import '_mixins.scss';

.header {
  width: 100%;
  height: 6rem;
  background-color: color(dark-gray);
  display: block;
}

.inner-header {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.header-textbox {
  height: 100%;
  @include flex-row-center;
  float: left;
}

.header-text {
  color: color(cyan);
  @include rubik;
  font-weight: 700;
  font-size: 2rem;
}

.nav-bar {
  height: 100%;
  float: right;
  @include flex-row-center;
  list-style-type: none;
}

.nav-bar li {
  padding: 0rem 2rem;
}

.nav-link {
  color: color(light-gray);
  @include rubik;
  font-weight: 500;
  font-size: 1.8rem;
}

nav ul li a:hover {
  font-weight: bolder;
  color: color(white);
}

/* .nav-link,
.nav-link:visited,
.nav-link:link {
  color: color(light-gray);
  @include rubik;
  font-weight: 400;
  font-size: 1.7rem;
} */
