@import '_variables.scss';
@import '_mixins.scss';

.popUp {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  @include just-align-center;
}

.popUp-box {
  width: 60vw;
  height: 60vh;
  background-color: color(soft-white);
  border-radius: 2rem;
  position: relative;
  padding: 2rem;
}

.close {
  position: absolute;
  top: 0;
  right: 1.4rem;
  font-size: 4rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.popUp-content-box {
  width: 100%;
  height: 100%;
  @include flex-row-center;
}

// POP-UP LEFT

.popUp-left {
  width: 50%;
  height: 100%;
  padding: 1rem 0 0 2rem;
}

.popUp-textbox {
  padding-bottom: 4rem;
}

.popUp-text {
  @include oswald;
  font-size: 3rem;
  padding-left: 2rem;
}

.popUp-text-label {
  @include oswald;
  font-size: 3rem;
}

.popUp-icon-row {
  width: 100%;
  padding-top: 2rem;
  @include flex-row-center;
  justify-content: space-evenly;
}

.popUp-icons {
  width: 4rem;
}

// POP-UP RIGHT

.popUp-right {
  width: 50%;
  height: 100%;
  @include flex-col-center;
  justify-content: space-evenly;
}

.popUp-right img {
  max-width: 90%;
  box-shadow: 0rem 0rem 3.5rem 0.75rem color(dark-gray);
}

@include laptop {
  .popUp-text-label {
    font-size: 2.5rem;
  }
  .popUp-text {
    font-size: 2.5rem;
  }
  .popUp-icon-row {
    padding-top: 0;
  }
}

@include tablet {
  .popUp-icon-row {
    padding-top: 3rem;
  }
  .popUp-text {
    font-size: 2.5rem;
  }
  .popUp-text-label {
    font-size: 2.5rem;
  }
  .popUp-box {
    height: 57.5vh;
    width: 57.5vw;
  }
  .popUp-content-box {
    padding-top: 2rem;
  }
}

@include phone {
  .popUp-text {
    font-size: 2rem;
  }
  .popUp-text-label {
    font-size: 2rem;
  }
  .popUp-icon-row {
    padding: 0;
  }
  .popUp-icons {
    width: 3.5rem;
  }
}
