@import "_variables.scss";
@import "_mixins.scss";

.search-bar {
  height: 5rem;
  width: auto;
  position: relative;
  @include flex-row-center;
  justify-content: center;
  margin: 2rem auto;
}

.search-bar input {
  height: 70%;
  margin: 0rem 0.5rem;
  font-size: 2rem;
  @include oswald;
}

.submit-area {
  width: 35vw;
  min-width: 62rem;
  padding: 0rem 1rem 0rem 3.2rem;
  border-radius: 1rem;

  // Format Magnifying Glass Icon
  background-image: url(../img/search-icon.png);
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: 0.8rem center;
}

.submit-area:focus {
  border: 0.2rem solid color(cyan);
}

.submit-button {
  width: 8vw;
  min-width: 7rem;
  max-width: 20rem;
  background: none;
  transition: all 0.3s;
  color: color(light-gray);
  border: 0.3rem double color(light-gray);
  cursor: pointer;
}

.submit-button:hover {
  color: color(deep-black);
  background-color: color(light-gray);
  border-color: color(deep-black);
}

@include tablet {
  .submit-area {
    width: 75vw;
    min-width: 0;
  }
}

@include phone {
  .search-bar input {
    font-size: 1.5rem;
  }
}
