$phone: 767px;
$tablet: 991px;
$laptop: 1199px;

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  white: #fff,
  header-light: #595858,
  body-dark: #2e2d2d,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
