$phone: 767px;
$tablet: 991px;
$laptop: 1199px;

// Color Scheme #12: https://visme.co/blog/website-color-schemes/

$colors: (
  deep-black: #0c0032,
  dark-gray: #1f2833,
  light-gray: #c5c6c7,
  cyan: #66fcf1,
  teal: #45a29e,
  white: #ffffff,
  soft-white: #f5f5f5,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Google Fonts: https://fonts.google.com/specimen/Rubik?preview.size=52&preview.text=SpaceX%20Data&preview.text_type=custom

@mixin rubik {
  font-family: "Rubik", sans-serif;
}

@mixin oswald {
  font-family: "Oswald", sans-serif;
}

@mixin roboto-mono {
  font-family: "Roboto Mono", monospace;
}
