@import "_variables.scss";
@import "_mixins.scss";
@import "_search-bar.scss";
@import "_header.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  text-decoration: none;
}

html,
body {
  background-color: color(deep-black);
}

.container {
  @include flex-col-center;
  width: 90vw;
  background-color: white;
  margin: 4rem auto;
  padding: 3rem auto;
}

.launch-item {
  @include flex-row-center;
  justify-content: space-evenly;
  height: 4rem;
  width: 100%;
  padding: 3rem 0rem;
}

.launch-item h3 {
  height: 100%;
  font-size: 1.5rem;
}
